<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">
    
   <!-- freemarker config -->
   <bean id="freemarkerConfig"
      class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
      <property name="templateLoaderPath" value="/WEB-INF/freemarker/" />
   </bean>

   <!--
      View resolvers can also be configured with ResourceBundles or XML
      files. If you need different view resolving based on Locale, you
      have to use the resource bundle resolver.
   -->
   <bean id="viewResolver"
      class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
      <property name="cache" value="false" />
      <property name="prefix" value="" />
      <property name="suffix" value=".ftl" />
      <property name="exposeSpringMacroHelpers" value="true"/>
   </bean>

   <bean id="badgeListener" class="com.buildbrighton.badge.BadgeImpl"
      autowire="byType"/>
      
   <bean id="badgeSerial" class="com.buildbrighton.badge.serial.BadgeSerialListener"
      autowire="byName" />

   <!--  controllers -->
   <bean class="com.buildbrighton.badge.web.DefaultController"
      autowire="byType" />
   <bean class="com.buildbrighton.badge.web.UserRegController"
      autowire="byType" />

   <bean id="userDao" class="com.buildbrighton.badge.db.RiakUserDao"
      autowire="byName" />

   <!--  riak -->
   <bean id="riakTemplate"
      class="org.springframework.data.keyvalue.riak.core.RiakTemplate"
      p:defaultUri="http://localhost:8098/riak/{bucket}/{key}"
      p:mapReduceUri="http://localhost:8098/mapred" p:useCache="true" />
      
      <!--


     CometD 
   <bean id="bayeux" class="org.cometd.server.BayeuxServerImpl"
      init-method="start" destroy-method="stop">
   </bean>

   <bean id="badgeService" class="com.buildbrighton.badge.web.BadgeCometService"
      autowire="byType">
      <constructor-arg>
         <ref local="bayeux" />
      </constructor-arg>
   </bean>

   <bean
      class="org.springframework.web.context.support.ServletContextAttributeExporter">
      <property name="attributes">
         <map>
            <entry key="org.cometd.bayeux">
               <ref local="bayeux" />
            </entry>
         </map>
      </property>
   </bean>

--></beans>